html {
    background: url("../img/page-bg.jpg") no-repeat scroll top center rgb(28, 18, 15);
    font: 16px/22px 'aradKodak','b homa','b nazanin','b koodak',"tahoma","Helvetica Neue",Helvetica,Arial,sans-serif;
}
nav.navbar
{
    margin-top: 5;
}
nav
    button
{
    margin-top: 6;
}